.sp-adv {
    .elementor-icon-box-title {
        text-align: center;
        
        @media (max-width: 1024px) {
            margin-bottom: 0;
        }
    }

    .elementor-icon-box-description {
        text-align: center;

        @media (max-width: 1024px) {
            margin-bottom: 10px;
        }
    }

    .elementor-widget-themo-accommodation-listing {
        .elementor-row {
            .thmv-preface {
                text-align: center;
            }

            .thmv-title {
                margin-bottom: 4px !important;
                width: 100%;
                display: block;
                max-width: unset !important;
                text-align: center !important;

                @media (max-width: 1024px) {
                    font-size: 16px !important;
                }
            }

            .thmv-preface {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                vertical-align: middle;
                margin: 0 !important;
            }
        }
        
        
        @media (max-width: 1024px) {
            .thmv-column {
                margin-bottom: 15px !important;
            }
        }
    }

    .btn-1.btn.th-btn.btn-standard-primary {
        font-family: "Work Sans", sans-serif !important;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }

    @media (max-width: 1024px) {
        .th-btn-wrap {
            margin-top: 0 !important;
        }
    }
}
