.amenities-gallery {
    .elementor-gallery__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        grid-template-rows: repeat(3, 164px);

        a {
            img, .e-gallery-image {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }

        a:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1;
            max-width: 376px;

            img, .e-gallery-image {
                aspect-ratio: 376 / 164;
            }
        }

        a:nth-child(2) {
            grid-column: 3;
            grid-row: 1;
            max-width: 182px;

            img, .e-gallery-image {
                aspect-ratio: 182 / 164;
            }
        }

        a:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
            max-width: 182px;

            img, .e-gallery-image {
                aspect-ratio: 182 / 164;
            }
        }

        a:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
            max-width: 182px;

            img, .e-gallery-image {
                aspect-ratio: 182 / 164;
            }
        }

        a:nth-child(5) {
            grid-column: 3;
            grid-row: 2 / span 2;
            max-width: 182px;

            img, .e-gallery-image {
                aspect-ratio: 182 / 340;
            }
        }

        a:nth-child(6) {
            grid-column: 1 / span 2;
            grid-row: 3;
            max-width: 376px;

            img, .e-gallery-image {
                aspect-ratio: 376 / 164;
            }
        }
    }
}
