.chale-info {
    font-family: "Domine", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #074365;
}

.detail-features-column {
    max-width: 248px !important;
}
