footer {
    background-color: #04293F !important;

    .footer-payments .elementor-container{
        display: flex;
        justify-content: space-between;
        gap: 11px;
        margin: 0;
        overflow: hidden;
    }
}
