.sp-search-form {
    .mphb_sc_search-form {
        display: flex;
        max-width: 882px;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        gap: 15px;
    }

    .mphb_sc_search-wrapper {
        display: flex !important;
        justify-content: center;
    }

    .frm_forms form label, .with_frm_style label.frm_primary_label, .with_frm_style.frm_login_form label, .frm_style_formidable-style.with_frm_style label.frm_primary_label, .frm_style_formidable-style.with_frm_style.frm_login_form label, .frm_style_formidable-style.with_frm_style .frm_radio label, .frm_style_formidable-style.with_frm_style .frm_checkbox label {
        font-size: 12px;
        color: #121212;
    }

    .th-fo-form {
        padding-top: 0;

        .frm_form_field {
            label, br {
                margin: 0;
            }

            br {
                height: 0 !important;
            }

            select, input {
                margin-top: 4px !important;
            }
        }

        .frm_form_field, .frm_submit {
            line-height: 1;
            margin-bottom: 0 !important;
        }
    }

    input[type="text"], select {
        border: 1px solid #000 !important;
        color: #000 !important;
        background-color: #F2FAFF !important;

        &::placeholder {
            color: #000 !important;
        }
    }

    .th-conversion form input, .th-conversion form select {
        margin: 0 !important;
        height: 54px !important;
    }

    .mphb_sc_search-submit-button-wrapper .frm_submit {
        width: 215px;
    }
}
