#thhf-masthead-sticky {
    background-color: #fff;
}

@media (max-width: 1024px) {
    .sp-header {
        width: 100% !important;
        -webkit-box-shadow: 0px -1px 8px -1px #000000;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);

        .elementor-column-gap-no {
            width: 100% !important;
        }
    }
}
