#thhf-masthead-sticky {
    background-color: #fff;
}

@media (max-width: 1024px) {
    .sp-header {
        width: 100% !important;

        .elementor-column-gap-no {
            width: 100% !important;
        }
    }
}
