.sp-highlights {
    .thmv-inner-right {
        @media (max-width: 1024px) {
            margin-left: 0 !important;
        }
    }

    .thmv-inner-container {
        @media (max-width: 1024px) {
            max-width: unset !important;
        }
    }

    @media (max-width: 768px) {
        .elementor-section-boxed .elementor-container {
            width: 100% !important;
        }
    }
}
