.sp-highlights {
    .thmv-inner-right {
        @media (max-width: 1024px) {
            margin-left: 0 !important;
        }
    }

    .thmv-inner-container {
        @media (max-width: 1024px) {
            max-width: unset !important;
        }
    }

    @media (max-width: 768px) {
        .elementor-section-boxed .elementor-container {
            width: 100% !important;
        }
    }

    .sp-highlights__left {
        .elementor-column {
            max-width: 234px !important;
        }

        .elementor-container.elementor-column-gap-no {
            justify-content: flex-end;
            column-gap: 40px;
        }

        .elementor-icon-box-title {
            margin-left: 0;
            margin-right: 0;

        }

        .elementor-icon-box-description {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .th-header-wrap .elementor-icon-box-icon {
        margin-bottom: 10px !important;
    }
}
