.elementor-widget-themo-accommodation-listing .elementor-row .thmv-learn-btn {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: normal;
    font-size: 14px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #074365 !important;
    border-color: #074365 !important;
    text-transform: none !important;
    height: 48px;
    line-height: 40px !important;
    width: 187px;
    padding: 0 !important;

    &:hover {
        opacity: 0.85 !important;
        color: #fff !important;
    }
}

.elementor-widget-themo-accommodation-listing {
    .listing-description {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        font-size: 16px;
        color: #074365;
        margin-bottom: 13px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            line-height: 16px;
            gap: 4px;

             span {
                 display: inline-block;
             }
        }
    }

    .thmv-title {
        margin-bottom: 12px !important;
    }
}

.sp-rooms {
    h2 {
        margin-bottom: 5px;
    }

    .elementor-icon-box-description {
        margin-bottom: 19px !important;
    }

    .thmv-info {
        margin-top: 16px !important;
    }

    .thmv-title {
        margin-bottom: 9px !important;
    }

    .elementor-widget-themo-accommodation-listing .elementor-row .thmv-column {
        margin-bottom: 20px;
    }
}

