.hfe-nav-menu {
    .menu-item {
        &:first-child {
            a.hfe-menu-item {
                padding-left: 0 !important;
                padding-right: 0 !important;
                letter-spacing: 0.03em;
            }
        }

        a.hfe-menu-item {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}
