.sp-video {
    .elementor-icon-box-title {
        margin-bottom: 24px;
    }

    .elementor-icon-box-description {
        margin-bottom: 40px;
    }

    @media (max-width: 1024px) {
        .elementor-container.elementor-column-gap-default, .elementor-container.elementor-column-gap-no {
            width: 100% !important;
        }

        .sp-video-1 {
            .elementor-container {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        .elementor-icon-box-description {
            margin: 0 0 40px 0 !important;
        }

        .elementor-icon-box-title {
            margin: 0 0 24px 0 !important;
        }

        .th-btn-wrap {
            margin: 32px 0 0 0 !important;

            .btn {
                margin: 0 !important;
            }
        }
    }
}
