.sp-reviews {
    .elementor-testimonial {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid #7E7E7E;
        padding: 20px;
        gap: 12px;

        & {
            border-radius: 0 !important;
        }

        .elementor-testimonial__header {
            border: none;
            flex: 0 0 50px;
            padding: 0;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 50px;
                width: 100%;
                height: 50px !important;
                border-radius: 25px;
            }
        }

        .elementor-testimonial__icon {
            display: none;
        }

        .elementor-testimonial__content {
            padding: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .elementor-icon-box-description {
        display: none !important;
    }

    .elementor-widget-reviews .swiper-slide {
        border-radius: 0;
    }

    .elementor-widget-reviews .elementor-main-swiper, .elementor-widget-testimonial-carousel .elementor-main-swiper {
        width: 100%;
        padding: 0;
    }

    .elementor-icon-box-title {
        margin: 0;
    }

    .elementor-widget-themo-header {
        flex-grow: 0;
        flex-shrink: 0;
    }
}