.sp-map {
    .elementor-element {
        width: 100%;
    }

    .elementor-element-populated P {
        width: 100%;
    }

    .elementor-icon-box-description {
        display: none;
    }

    .elementor-icon-box-title {
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 9px !important;
        }
    }
}
