.sp-special-offers {
    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        vertical-align: middle;
        margin-bottom: 9px;
        
        @media (max-width: 1024px) {
            margin-bottom: 0;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    .elementor-widget-themo-accommodation-listing {
        .thmv-column {
            .thmv-info {
                margin-top: 12px !important;

                .thmv-title {
                    text-align: center;
                    max-width: 242px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}
