.logotype {
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
}

.startpage-bg-1 {
    position: absolute;
    left: 0;
}

#thhf-masthead.transparent-header {
    position: relative !important;
}

.home {
    #thhf-masthead.transparent-header {
        position: absolute !important;
    }
}

.startpage-top-1 {
    position: relative;

    &:before {
        position: absolute;
        content: url("images/bg-1.png");
        display: block;
        height: 182px;
        width: 596px;
        top: 85px;

        @media (max-width: 1023px) {
            display: none !important;
        }
    }

    .e-hosted-video {
        max-width: 960px !important;

        video, .elementor-custom-embed-image-overlay {
            width: 960px !important;
            height: 734px !important;
        }
    }

    .btn-standard-primary, .btn-cta-primary {
        margin: 0 !important;
        width: 172px !important;
        height: 51px !important;
        color: #fff !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: none !important;
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    .elementor-icon-box-title {
        margin: 0 0 35px 0 !important;
    }

    .elementor-icon-box-description {
        margin: 0 0 58px 0 !important;
    }

    .th-btn-wrap {
        margin-top: 0 !important;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .btn {
                width: 100% !important;
                display: inline-flex;
                justify-content: center !important;

                &:after {
                    position: static;
                }
            }
        }

    }

    .btn-cta-primary {
        background-color: #2BB826 !important;
        position: relative;
        justify-content: flex-start !important;
        padding: 0 0 0 25px !important;
        margin-left: 15px !important;

        @media (max-width: 576px) {
            margin-left: 0 !important;
        }

        &:after {
            width: 29px !important;
            height: 29px !important;
            content: "" !important;
            background: url("images/icons/whatsapp.svg") no-repeat center center;
            background-size: contain;
            position: absolute;
            top: calc(50% - 14.5px);
            right: 11px;
        }
    }

    .btn-standard-primary {
        padding: 0 !important;
        background-color: #074365 !important;
    }
}

.thmv-inner-right.thmv-inner-right-1 {
    --padding-right: 80px;
    max-width: calc(485px + var(--padding-right));
    padding-right: var(--padding-right);
}

.elementor-31 .elementor-element.elementor-element-47af772c .elementor-icon-box-content .elementor-icon-box-description {
    margin-bottom: 40px;
}
