/* Error: expected "{".
 *    ,
 * 57 |         margin: 0 0 7px 0 !important;
 *    |                           ^
 *    '
 *   assets\css\components\_startpage.scss 57:27  @import
 *   style.scss 20:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 57 \2502          margin: 0 0 7px 0 !important;\d\a    \2502                            ^\a    \2575 \a   assets\\css\\components\\_startpage.scss 57:27  @import\a   style.scss 20:9                              root stylesheet';
}
