/*
Theme Name:     Bellevue - Child Theme
Theme URI:      https://bellevuetheme.com
Template:       bellevuex
Author:         Themovation
Author URI:     http://themovation.com
Version:        4.0
Text Domain:    bellevue
Domain Path:    /languages/
*/


/* = Theme customization starts here
-------------------------------------------------------------- */

@import "assets/css/components/_headings.scss";
@import "assets/css/components/_startpage.scss";
@import "assets/css/components/_menu.scss";
@import "assets/css/components/_forms.scss";
@import "assets/css/components/_specialoffers.scss";
