/* Error: Undefined function.
 *    ,
 * 11 | $icon-color: hsl(color.channel($base-color, "hue", $space: hsl), 7%, 95%) !default;
 *    |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\_variables.scss 11:18  @forward
 *   ..\_admin.scss 3:1        @use
 *   colors.scss 7:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined function.\a    \2577 \a 11 \2502  $icon-color: hsl(color.channel($base-color, "hue", $space: hsl), 7%, 95%) !default;\a    \2502                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\_variables.scss 11:18  @forward\a   ..\\_admin.scss 3:1        @use\a   colors.scss 7:1           root stylesheet';
}
