@media (max-width: 1024px) {
    .hfe-nav-menu-icon {
        padding: 5px !important;
    }

    .hfe-nav-menu {
        padding: 10px !important;

        li.menu-item {
            a.hfe-menu-item {
                padding: 5px !important;
            }
        }
    }
}
