@media (max-width: 1024px) {
    .thmv-inner-right.thmv-inner-right-1 {
        max-width: unset;
    }

    .startpage-top-1 {
        position: relative;

        &:before {
            display: none;
        }

    }

    .elementor-31 .elementor-element.elementor-element-47af772c .elementor-icon-box-content .elementor-icon-box-description {
        margin-bottom: 20px !important;
    }
}